venv/
# Ignore backend virtual environment
Backend/venv/

# Python cache
__pycache__/
*.py[cod]
*.pyo
*.pyd

# Flask instance & environment files
instance/
*.env
.env

# Logs
*.log

# Databases
*.sqlite3
*.db

# OS-specific
.DS_Store
Thumbs.db
